*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calci{
    border: 1px solid black;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
}
input{
    width: 100%;
    border-color: black;
    padding: 24px;
    margin: 10px;
    text-align: right;
    cursor: pointer;
    font-size: 20px;
    background-color: grey;
    border-radius: 20px;
    color: white;
}
input::placeholder{
    color: white;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
}
.equal{
    background-color: #4fbc5d;
}
.ac{
    background-color: red;
}
.symbol{
    background-color: orange;
}
.numbers{
    background-color: grey;
    color: white;
}